<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Enquête | question 2</title>
	<th:block th:include="fragments/headers :: head"></th:block>
	<!-- <script type="text/javascript"
		th:src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.js"></script> -->
		<script th:src="@{/js/assets/materialize-97.js}"></script>

</head>

<body style="font-size: 14px">
	<div class="sp-bars"></div>
	<div id="quest">

		<div th:replace="fragments/header :: navbar"></div>

		<div class="container">
			<button class="question">QUESTION 2</button>
			<div class="block">

				<p th:text="${question}" class="pl-5">

				</p>
				<p style="font-style: italic" class="pl-5">-Ne notez que les services que vous avez
					demandés</p>
				<p style="font-style: italic" class="pl-5">
					-Si note inférieure ou égale à 5, bien vouloir nous faire parvenir
					vos commentaires. 
				</p>

			</div>
		</div>


		<div class="container">
			<div th:insert="question2/ajout :: ie"></div>
		</div>
		<!-- footer -->
		<div th:insert="fragments/footer :: footers"></div>



	</div>
</body>

<script>
	$(document).ready(function () {

		$('#infinf').css("fontSize","25px")

		/* if (navigator.userAgent.indexOf("Chrome") != -1) {

			window.location.href = "[[@{/question/2}]]"
		} else {

		} */


		$('ul.tabs').tabs("select_tab", "test1")

		$('#nextLog').click(function () {
			empty = validation('note3') + validation('note4') + validation('commentaire2')

			emptyInferieur = vald("note3", "note4", "commentaira2","commentaire2")
			fulltest = empty + emptyInferieur

			if (fulltest == 0) {
				$('ul.tabs').tabs("select_tab", "test3")
				$('#loglog').css("fontSize","25px")
				$('#orgorg').css("fontSize","14px")
				$('#infinf').css("fontSize","14px")
				$('html,body').animate({
					scrollTop: 0
				})
			} else {
				//tsy mandh
			}

		})

		$('#nextOrg').click(function () {
			empty = validation('note1') + validation('note2') + validation('commentaire')

			emptyInferieur = vald("note1", "note2","commentaira", "commentaire")
			fulltest = empty + emptyInferieur

			if(fulltest==0){
				$('ul.tabs').tabs("select_tab", "test2")
				$('#orgorg').css("fontSize","25px")
				$('#loglog').css("fontSize","14px")
				$('#infinf').css("fontSize","14px")
				$('html,body').animate({
					scrollTop: 0
				})
			}else{
				//tsy mandh
			}

		})

		init('sev00', 'sev09', 'inf', 'note1', 'note2','commentaira', 'commentaire')
		init('sev08', 'sev19', 'org', 'note3', 'note4','commentaira2', 'commentaire2')
		init('sev18', 'sev30', 'log', 'note5', 'note6', 'commentaira3','commentaire3')
		//fonction iray mandefa ny service informatique

		$('#validerInf').click(function (e) {
			e.preventDefault()


			empty = 
			validation('note5') + validation('note6') + validation('commentaire3')
			emptyInferieur = vald('note5', "note6","commentaira3", "commentaire3")
			fulltest = empty + emptyInferieur
			if (checkUser() == false) {

				if (fulltest == 0) {
					e.preventDefault()
					sendV()
					window.location.href = "[[@{/question/3}]]"
				} else {
					//tsy mandh
				}

			} else {
				if (fulltest == 0) {
					e.preventDefault()
					window.location.href = "[[@{/question/3}]]"
				} else {

					//tsy mandh
				}

			}

		})

		function vald(note1, note2,commentaira, comments) {
			j = 0
			notePrestation = getNotePrestation(note1) //note => 
			noteDelai = getNoteDelai(note2) //note2 
			comment = getComment(comments) //commentaire 


			for (i = 0; i < comment.length; i++) {
				var fjfj = document.querySelectorAll('.' + note1)[i]
				var fjfj2 = document.querySelectorAll('.' + note2)[i]
				var fjfj4 = document.querySelectorAll("."+commentaira)[i]
				var fjfj3 = document.querySelectorAll('.' + comments)[i]
				

				if (((parseInt(notePrestation[i]) <= 5) && (comment[i] == "")) || ((parseInt(noteDelai[i]) <= 5) && (comment[i] == ""))) {

					fjfj3.style.borderBottomColor = "red"
					fjfj4.style.color = "red"
					j++

				} else {
					fjfj3.style.borderBottomColor = "grey"
					fjfj4.style.color = "grey"
				}


			}
			return j
		}




		function sendV() {
			send('note1', 'note2', 'commentaire', 'inf')

			send('note3', 'note4', 'commentaire2', 'org')
			send('note5', 'note6', 'commentaire3', 'log')
		}


	})


	function checkUser() {
		var check = false
		$.ajax({
			method: "get",
			url: "[[@{/checkRef2}]]",
			async: false,
			success: function (response) {
				if (response == "ok") check = true

			}
		})
		return check
	}


	function send(note1, note2, commentaire, param) {
		var note = getNotePrestation(note1)
		var note2 = getNoteDelai(note2)
		var comment = getComment(commentaire)


		$.ajax({
			method: "post",
			url: "[[@{/jsonTest}]]",
			data: {
				notes: note,
				notes2: note2,
				comments: comment,
				params: param
			},
			success: function (response) {
				window.location.href = "[[@{/question/3}]]"
			}
		})
	}

	function init(clause1, clause2, place, note1, note2,commentaira, commentaire) {
		$.ajax({
			method: "post",
			url: "[[@{/getService}]]",
			dataType: "json",
			contentType: "application/json",
			success: function (response) {

				var res = ""
				response.forEach(function (element) {

					if (element.idService > clause1 && element.idService < clause2) {

						res += "<div class='row'>" +

							"<div class='col-md-3'>" +
							"<h6>" + element.intitule + "</h6>" +
							"</div>" +

							"<div class='col-md-3'>" +
							"<label  >Qualité de la prestation</label>" +
							"<select class='form-control note select " + note1 + "'></select>" +
							"</div>" +

							"<div class='col-md-3'>" +
							"<label>Délai de traitement</label>" +
							"<select class='form-control note select " + note2 + "'></select>" +
							"</div>" +

							"<div class='col-md-3'>" +
							"<label class='"+commentaira+"'>Commentaires</label>" +
							"<input type='text'  class='" + commentaire + "' />" +
							"</div>" +

							"</div>"
					}


				})
				$('#' + place).html(res)
				initSelect()
			}


		})
	}

	function initSelect() {
		var res = "<option value='aucun'>Aucun</option>"
		for (i = 1; i < 11; i++) {
			res += "<option  value='" + i + "'>" + i + "</option>"
		}
		res += "<option value='non concerne'>Non concerné</option>"
		$('.select').html(res)
		//$('select').formSelect();
	}

	function getNotePrestation(note1) {
		note = []
		$("." + note1).each(function () {
			result = $(this).val()
			note.push(result)
		})
		return note
	}
	function getNoteDelai(note2) {
		note = []
		$("." + note2).each(function () {
			result = $(this).val()
			note.push(result)
		})
		return note
	}
	function getComment(commentaire) {
		comment = []
		$("." + commentaire).each(function () {
			result = $(this).val()
			comment.push(result)
		})
		return comment
	}
	function validation(param) {
		var i = 0
		$('.' + param).each(function () {
			if ($(this).val() == "aucun") {
				i++
				$(this).css("borderColor", "red")
			} else {
				$(this).css("borderColor", "grey")
			}
		})
		return i
	}

</script>

</html>