table{
    border-collapse:collpase;
}

td{
    background-color : black;
    border : 3px solid white;
    font-size : 80px;
    color: #fff;
    border-radius : 10px 10px 10px 10px;
    cursor : default ;
}
#tictactoe{
   position : absolute;
   top : 15%;
   left : 35%;
}
