<head>
	<meta charset="utf-8">

</head>

<body>


	<div th:fragment="question">

		<ul class="stepper horizontal">
			<li class="step active">
				<div id='infStep' class="step-title waves-effect">
					INF
				</div>
				<div class="step-content">

					<div class="card">
						<div class="container" id="inf"></div>
					</div>
					<div class="right-align">

						<button id="step1" class="waves-effect waves-dark btn next-step  ">CONTINUER</button>


					</div>

				</div>
			</li>

			<li class="step ">
				<div id='orgStep' class="step-title waves-effect">
					 ORG
				</div>
				<div class="step-content">

					<div class="card">
						<div class="container" id="org"></div>

					</div>

					<button style="opacity: 0;" id="validerOrg">VALIDER</button>
					<div class="right-align">

						<button id="step2" class="waves-effect waves-dark btn next-step  ">CONTINUER</button>

					</div>



				</div>
			</li>

			<li class="step ">
				<div class="step-title waves-effect">
					LOG
				</div>
				<div class="step-content">

					<div class="card">
						<div class="container" id="log"></div>
					</div>


					<button style="opacity: 0;" id="validerLog">VALIDER</button>
					<div class="right-align">
						<button id="validerInf" class="waves-effect waves-dark btn tooltipped " data-position="bottom"
							data-tooltip="Question 3 ">
							CONTINUER
						</button>
					</div>


				</div>
			</li>



		</ul>



	</div>
	<!--fragment-->


	<!--ie issue-->

	<div th:fragment="ie">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s4"><a style="cursor:not-allowed" id="infinf"  href="#test1">INF</a></li>
						<li class="tab col s4"><a style="cursor:not-allowed" id="orgorg" class=" active" href="#test2">ORG</a></li>
						<li class="tab col s4"><a style="cursor:not-allowed" id="loglog"   href="#test3">LOG</a></li>

					</ul>
				</div>

			</div>
			<div id="test1" class="col s12">
				<div class="card">
					<div class="container" id="inf"></div>
				</div>

				<div class="right-align">
						<button class="waves-effect waves-dark btn    " id="nextOrg">CONTINUER</button>
					</div>
				
				
			</div>
			<div id="test2" class="col s12">
				<div class="card">
					<div class="container" id="org"></div>
				</div>

				<div class="right-align">
					<button class="waves-effect waves-dark btn  " id="nextLog">CONTINUER</button>
				</div>
				
			</div>
			<div id="test3" class="col s12">
				<div class="card">
					<div class="container" id="log"></div>
				</div>

				<div class="right-align">
					<button class="waves-effect waves-dark btn  " id="validerInf">CONTINUER</button>
				</div>
				
			</div>

			<!-- Page Content goes here -->
		</div>
	</div>
	<!--ie issue-->


</body>

</html>