<head>
    <meta charset="utf-8">

</head>

<div th:fragment="app">
    <!-- Modal Structure -->
    <div  id="modalApp" class="modal ">

        <h4 p-2>Autres applications</h4>   
            <button style="opacity:0" class="modal-close afterAdd "></button>
        <div class="modal-content">
            <div class="right-align">
               
                        <button class="btn-floating btn-large waves-effect waves-light red tooltipped mr-5"
                        data-position="bottom" data-tooltip="encore" id="plus">
                           +
                       </button>
                       <p class="text-muted">Cliquez pour plusieurs ajouts</p>
              
                    
            </div>
            <div id="app-container">
                    <div  class="row">
                
                            <div class="input-field col s6">
                                <input   type="text"   class="nomApp">
                                <label for="nomApp">Nom de l'application</label>
                            </div>

                            <div class="col s6"></div>
                           
                    </div>
                    
            </div>
            
            <button id="addApp" class="waves-effect waves-light btn">Valider</button>
            
        </div>
        

    </div>
   
</div>

