<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="utf-8" />
    <title>Enquête | terminée</title>
    <th:block th:include="fragments/headers :: head"></th:block>
</head>

<body>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container">
        <div class="row">

            <div style="position:relative;left:-200px;top : 180px" class="col-lg-10 ">
                <img th:src="@{/images/merci.jpg}" alt=""
                    class="responsive-img">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 ">
                <div style="position:relative; top :-100px; left : 20px" class="card">

                    <div class="ribbon-wrapper">
                        <div class="glow">&nbsp;</div>
                        <div class="ribbon-front">
                            Enquête de satisfaction 2020
                        </div>
                        <div class="ribbon-edge-topleft"></div>
                        <div class="ribbon-edge-topright"></div>
                        <div class="ribbon-edge-bottomleft"></div>
                        <div class="ribbon-edge-bottomright"></div>
                    </div>

                    <div class="card-content">
                        

                        <div style="border-radius : 10px;line-height: 35px;background :rgba(7, 101, 241, 0.5)">
                            <h4>L'EQUIPE RESSOURCES</h4>
                            <p>Vous remercie de votre participation à cette enquête</p>
                            <p>Encore une fois, vos réponses et avis
                                seront utilisés pour
                                l'amélioration des différents services
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="header">
                
            </div>
            <div id="ribbon">
               <a th:href="@{/}">Terminer</a>
            </div>

        </div>
    </div>
    </div>
</body>

</html>