<head>
	<meta charset="utf-8">

</head>
<div th:fragment="footers">
	<footer style="background-color: #03a9f4" class="page-footer foot">
		<div class="container">

		</div>
		<div class="footer-copyright">
			<div class="container">
				SOCIETE GENERALE MADAGASIKARA
				<a class="grey-text text-lighten-4 right" href="#!">© Enquête de satisfaction 2020 ©</a>
			</div>
		</div>
	</footer>


</div>