
	<div th:fragment="head">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
			<link rel="stylesheet" th:href="@{/css/mstepper.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/loader.css}" />
		<script th:src="@{/js/assets/jquery-3.1.0.js}"></script>
		<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.js"></script> -->
		 <script th:src="@{/js/assets/materialize.min.js}"></script> 
		<script th:src="@{/js/assets/mstepper.min.js}"></script>

	<script th:src="@{/js/assets/popper.js}"></script>
		<script th:src="@{/js/init.js}"></script>
	</div>