<head>
    <meta charset="utf-8" />
</head>
<div th:fragment="navbar">
<div class="navbar-fixed">
		<nav style="background-color: #000C27;">
			<div class="nav-wrapper ">
				<a th:href="@{/}">
						<img height="50"
						th:src="@{/images/logoo.png}" />
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						
				</a>
				
					<li>
						<a href="#home">

						</a>
					</li>
					
					<li>SOCIETE GENERALE MADAGASIKARA</li>
					

				</ul>
			</div>
		</nav>


    </div>
</div>