<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Enquête | accueil</title>
	<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<script th:src="@{/js/assets/jquery-3.1.0.js}"></script>
	<script th:src="@{/js/assets/materialize.js}"></script>



</head>

<body>

	<div th:insert="fragments/loader :: spinner"></div>

	<div id="page">
		<div th:replace="fragments/header :: navbar"></div>
		<!-- NavBar end -->
		<!-- Slider -->
		<div class="section">




			<div class="slider">
				<ul th:style="'background : url('+@{/images/work.jpg}+') no-repeat;background-size : contain '"
					class="dynam slides">

					<li>

						<!-- random image -->
						<div class="caption center-align">

							<h3 style="font-family: Georigia;" class="black-text">ENQUETE DE SATISFACTION RESSOURCES
								2020</h3>


						</div>
					</li>

					<li>

						<!-- random image -->
						<div class="caption right-align">

							<h4 style="font-family : Georgia" class="black-text "> Personnel de la SOCIETE GENERALE</h4>
							<img style="max-height: 350px;max-width: 300px;"
								th:src="@{/images/avis.jpg}"
								alt="">


						</div>
					</li>



				</ul>
			</div>

		</div>
		<!-- Slider -->

		<a style="position: relative;left : 45%;" class="waves-effect waves-light btn modal-trigger"
			href="#modal1">Commencer</a>
		<div th:replace="fragments/intro :: intros"></div>
			<!-- footer -->
	<div th:insert="fragments/footer :: footers"></div>

	</div>





</body>

<script >
	$(document).ready(function () {
	
			

			var lastQ = document.getElementById("lastQ")
			lastQ.addEventListener("click",function(){
				var q = getLastQuestion()
				console.log(q)
				
				      switch (q) {
					case "q1":
						window.location.href = '[[@{/question/2}]]'
						break;
					case "q2":
						window.location.href = '[[@{/question/3}]]'
						break;
					case "q3":
						window.location.href = '[[@{/question/4}]]'
						break;
					case "q4":
						window.location.href = '[[@{/question/5}]]'
						break;
					case "q5":
						window.location.href = '[[@{/question/6}]]'
						break;
					case "q6":
						window.location.href = '[[@{/termine}]]'
						break;

						default : 
						window.location.href = '[[@{/question/1}]]'
						Break;
					
				}  
			})
		newUser()
		$('.slider').slider({ full_width: true });
		$('.modal').modal({
			opacity: 0.9
		})


		if (!sessionStorage.getItem("isVisited")) {
			splashScreen()
		}
		else {
			$('.splash').hide()
		}
	})

	   function getLastQuestion(){
		   var max = ""
		$.ajax({
			method: "post",
			url: '[[@{/getLastQuestion}]]',
			async : false,
			success: function (data) {
				max = data
			}
		})

		return max
		 
	}  
 
 
	function splashScreen() {
		$('#page').addClass("hidden")
		$('#img-title').addClass("hidden")
		$('#img-splash').addClass("anim")
		setTimeout(function () {
			$('#img-title').removeClass("hidden")
			$('#img-title').addClass("typewriter")
		}, 1500)
		setTimeout(function () {
			$('#img-loader').addClass("ids-hourglass")
			setTimeout(function () {
				$('#img-loader').removeClass("ids-hourglass")
				$('.splash').hide()
				$('#page').removeClass("hidden")
				sessionStorage.setItem("isVisited", "1")
			}, 1800)
		}, 3500)
	}

	function newUser() {
		$.ajax({
			method: "post",
			url: '[[@{/newUser}]]',
			success: function (data) {
				console.log(data)
			}
		})
	}


</script>

</html>