
<head>
<meta charset="utf-8">

</head>
<body>
    <div th:fragment="intros">
    <!-- Modal Structure -->
		<div id="modal1" class="modal modal-common">
                <div class="modal-content">
    
                    <div class="row">
                        <div class="col s2">
                            <img class="responsive-img"
                                th:src="@{/images/logoo.png}"
                                alt="">
                        </div>
                        <div class="col s1">
                            <h4 class="col">Utilisateurs,</h4>
                        </div>
    
                    </div>
                    <p>Nous apprécions le temps que vous accordiez à ce questionnaire.
                        Soyez assurés que nous utiliserons activement votre feedback pour améliorer nos prestations.
                    </p>
                    <p>
                        Chaque question est à noter sur une échelle de 1 à 10 dont ci-après la description du barème de
                        notation:
                        <ul style='font-style : italic'>
                            <li>Une note entre 1 et 4 exprime une prestation en dessous de vos attentes</li>
                            <li>Une note entre 5 et 7 exprime une prestation conforme à vos attentes</li>
                            <li>Une note entre 8 et 10 exprime une prestation au delà de vos attentes</li>
                        </ul>
    
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">annuler</a>
                    <button id='lastQ'
                        class=" waves-effect waves-green btn-flat">Continuer</button>
                </div>
            </div>
      </div>
</body>
