<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Enquête | question 2</title>
	<th:block th:include="fragments/headers :: head"></th:block>


</head>

<body style="font-size: 14px">
	<div class="sp-bars"></div>
	<div id="quest">

		<div th:replace="fragments/header :: navbar"></div>


		<div class="container">
			<button class="question">QUESTION 2</button>
			<div class="block">

				<p th:text="${question}" class="pl-5">

				</p>
				<p style="font-style: italic" class="pl-5">-Ne notez que les services que vous avez
					demandés</p>
				<p style="font-style: italic" class="pl-5">
					-Si note inférieure ou égale à 5, bien vouloir nous faire parvenir
					vos commentaires.
				</p>

			</div>
		</div>


		<div class="container">
			<div th:insert="question2/ajout :: question"></div>
		</div>

		<!-- footer -->
		<div th:insert="fragments/footer :: footers"></div>


	</div>
</body>

<script>

	
	$(document).ready(function () {

		
		 $('.step.active .step-title').css("fontSize","28px")

		 

		
		$('.next-step').click((e)=>{
		 	e.preventDefault()
			 setTimeout(function(){
				$('.step.active .step-title').css("fontSize","28px")
				$('html,body').animate({
				scrollTop :50
			})
			},600) 
			
		})  

		init('sev00', 'sev09', 'inf', 'note1', 'note2', 'commentaire')
		init('sev08', 'sev19', 'org', 'note3', 'note4', 'commentaire2')
		init('sev18', 'sev30', 'log', 'note5', 'note6', 'commentaire3')
		
		//fonction iray mandefa ny service informatique
		$('#validerInf').click(function (e) {
			e.preventDefault()
			
			   empty = validation('note1') + validation('note2')  + validation('commentaire') + 
						validation('note3') + validation('note4')  + validation('commentaire2')
						validation('note5') + validation('note6')  + validation('commentaire3')
			emptyInferieur = vald("note1","note2","commentaire")  +   vald('note3',"note4","commentaire2") + vald('note5',"note6","commentaire3")
			fulltest= empty + emptyInferieur
			 if (checkUser() == false) {

					if(fulltest == 0 ){
						e.preventDefault()
					sendV()
					window.location.href = "[[@{/question/3}]]" 
					}else{
						//tsy mandh
					}

			} else {
				if(fulltest == 0 ){
					e.preventDefault()
					window.location.href = "[[@{/question/3}]]" 
				}	else{
				//tsy mandh
				} 
				
		} 
  

		})

		
		
		function sendV() {
			send('note1', 'note2', 'commentaire', 'inf')

			send('note3', 'note4', 'commentaire2', 'org')
			send('note5', 'note6', 'commentaire3', 'log')
		}

		var stepper = document.querySelector('.stepper');


		var stepperInstace = new MStepper(stepper, {
			// options
			firstActive: 0,
			showFeedbackPreloader: true,
			feedbackPreloader: '<div class="spinner-layer spinner-blue-only"></div>' // this is the default
		})

		




	})

	function vald(note1,note2,comments){
			j =0
			notePrestation = getNotePrestation(note1) //note => 
			noteDelai = getNoteDelai(note2) //note2 
			comment = getComment(comments) //commentaire 

			 	for(i=0;i<comment.length;i++){
					var fjfj = document.querySelectorAll('.'+note1)[i]
					var fjfj2 = document.querySelectorAll('.'+note2)[i]
					var fjfj3 = document.querySelectorAll('.'+comments)[i]

					
					 if( ((parseInt(notePrestation[i]) <= 5 ) && (comment[i]=="")) || ((parseInt(noteDelai[i]) <= 5) && (comment[i] == "")) ){
						
						 fjfj3.style.borderBottomColor="red"
						
						j++ 
					
					}else {
						fjfj3.style.borderBottomColor="grey"
						
					} 

					
			}
			return j 
	}

	

	function checkUser() {
		var check = false
		$.ajax({
			method: "get",
			url: "[[@{/checkRef2}]]",
			async: false,
			success: function (response) {
				if (response == "ok") check = true

			}
		})
		return check
	}


	function send(note1, note2, commentaire, param) {
		var note = getNotePrestation(note1)
		var note2 = getNoteDelai(note2)
		var comment = getComment(commentaire)


		$.ajax({
			method: "post",
			url: "[[@{/jsonTest}]]",
			data: {
				notes: note,
				notes2: note2,
				comments: comment,
				params: param
			},
			success: function (response) {
				window.location.href = "/question/3"
			}
		})
	}

	function init(clause1, clause2, place, note1, note2, commentaire) {
		$.ajax({
			method: "post",
			url: "[[@{/getService}]]",
			dataType: "json",
			contentType: "application/json",
			success: function (response) {

				var res = ""
				response.forEach(function (element) {

					if (element.idService > clause1 && element.idService < clause2) {

						res += "<div class='row'>" +

							"<div class='col-md-3'>" +
							"<h6>" + element.intitule + "</h6>" +
							"</div>" +

							"<div class='col-md-3'>" +
							"<label>Qualité de la prestation</label>" +
							"<select class='form-control note select " + note1 + "'></select>" +
							"</div>" +

							"<div class='col-md-3'>" +
							"<label>Délai de traitement</label>" +
							"<select class='form-control note select " + note2 + "'></select>" +
							"</div>" +

							"<div class='col-md-3'>" +
							"<label>Commentaires</label>" +
							"<input type='text'  class='" + commentaire + "' />" +
							"</div>" +

							"</div>"
					}


				})
				$('#' + place).html(res)
				initSelect()
			}


		})
	}

	function initSelect() {
		var res = "<option value='aucun'>Aucun</option>"
		for (i = 1; i < 11; i++) {
			res += "<option  value='" + i + "'>" + i + "</option>"
		}
		res += "<option value='non concerne'>Non concerné</option>"
		$('.select').html(res)
		//$('select').formSelect();
	}

	function getNotePrestation(note1) {
		note = []
		$("." + note1).each(function () {
			result = $(this).val()
			note.push(result)
		})
		return note
	}
	function getNoteDelai(note2) {
		note = []
		$("." + note2).each(function () {
			result = $(this).val()
			note.push(result)
		})
		return note
	}
	function getComment(commentaire) {
		comment = []
		$("." + commentaire).each(function () {
			result = $(this).val()
			comment.push(result)
		})
		return comment
	}
	function validation(param){
			var i = 0
			$('.'+param).each(function(){
				if($(this).val()=="aucun"){
					i++
					$(this).css("borderColor","red")
				}else{
					$(this).css("borderColor","grey")
				}
			})
			return i
	}
	
</script>

</html>