<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Enquête | question 1</title>
<th:block th:include="fragments/headers :: head"></th:block>
</head>

<body
>
	<div  class="sp-bars" ></div>
	<div id="quest">


		<div th:replace="fragments/header :: navbar"></div>




		<div class="container">
			<button class="question">QUESTION 1</button>
			<div class="block">
				<p th:text="${question}" class="pl-5">	
				</p>
				<p style="font-style: italic" class="pl-5">
					NB: Si note inférieure ou égale à 5, bien vouloir nous faire parvenir
					vos commentaires. 
				</p>
			</div>
		</div>



		<div class="container">

			<div class="card">
				<div class="row">
				
					<div class="col-md-2"></div>
					<div class="col-md-3">
						<h6>Service Informatique</h6>
					</div>
					<div class="col-md-3">
						<h6>Service Projets et Organisation</h6>

					</div>
					<div class="col-md-3">
						<h6>Service Logistique</h6>

					</div>
				</div>

				<div class="row">
					<div class="col-md-2 m2"></div>

					<div class="col-md-3">
						

							<select class="form-control note select">

							</select> 
					
						<label class='commentaira'for="">Commentaires</label>
						<textarea class="materialize-textarea commentaire"></textarea>
					</div>
					<div class="col-md-3">
						

							<select class=" form-control note select">

							</select> 
					
							<label class='commentaira' for="">Commentaires</label>
						<textarea class="materialize-textarea commentaire"></textarea>
					</div>
					<div class="col-md-3">
						

							<select class="form-control note select">

							</select> 
					
						<label class='commentaira' for="">Commentaires</label>
						<textarea class="materialize-textarea commentaire"></textarea>
					</div>
				</div>

			</div>
			<div class="right-align">
				<button class="waves-effect waves-light btn tooltipped "
					data-position="bottom" data-tooltip="Question 2" id="valider">CONTINUER</button>


			</div>

		</div>
		<!-- footer -->
		<div th:insert="fragments/footer :: footers"></div>
	</div>
	<script >
		$(document).ready(function () {
			
			
			
			$('.tooltipped').tooltip();

			initSelect()
			$("#valider").click(function() {
				vald()
				 emptyNote = validationNote()
				emptyCom = vald()
				fulltest = emptyCom + emptyNote
				
				
				if (checkUser()==true) {
					if(fulltest ==0 ) {
						window.location.href = "[[@{/question/2IE}]]"
					}
					else{
						//tsy mandh
					}
					
				} 
				else {

					if(fulltest ==0 ) {
						send()
					}
					else{
						//tsy mandh
					}
					
				}  

			})
		})

		function vald(){
			j =0
			note = getNote()
				comment = getComment()

				for(i=0;i<note.length;i++){
					var fjfj = document.querySelectorAll('.commentaire')[i]
					var com = document.querySelectorAll('.commentaira')[i]
					if((parseInt(note[i]) <= 5 ) && (comment[i]=="")){
						
						fjfj.style.borderColor="red"
						com.style.color = "red"
						j++
					}else {
						fjfj.style.borderColor="grey"
					}
					
			}
			return j
		}

		function initSelect() {
			var res = "<option value='aucun'>Aucun</option>"
			for (i = 1; i < 11; i++) {
				res += "<option  value='" + i + "'>" + i + "</option>"
			}
			res += "<option value='non concerne'>Non concerné</option>"
			$('.select').html(res)
			//$('select').formSelect();
		}

		function checkUser() {
			var res = false
			
			$.ajax({
				method: "get",
				url: "[[@{/checkRef1}]]",
				async :false,
				success:function(response){
					if(response == "ok"){
						res = true
					}
				}
			})
			return res
			
		}

		

		function send() {
			var comment = getComment()
			var note = getNote()

			
			$.ajax({
				method: "post",
				url: "[[@{/question1}]]" ,
				data: {
					comments: comment,
					notes: note
				},
				success: function (response) {
					console.log(response)
					window.location.href = "[[@{/question/2IE}]]"
				}
			})
		}
		function getNote() {
			note = []
			$('.note').each(function () {
				note.push($(this).val())
			})
			return note
		}
		function getComment() {
			comment = []
			$('.commentaire').each(function () {
				comment.push($(this).val())
			})
			return comment
		}

		function validationNote(){
			var i = 0
			$('.note').each(function(){
				if($(this).val()=="aucun"){
					i++
					$(this).css("borderColor","red")
				}else{
					$(this).css("borderColor","grey")
				}
			})
			return i
		}
		function ValidationCom(){
			var i = 0
			$('.commentaire').each(function(){
				if($(this).val()==""){
					i++
					$(this).css("borderColor","red")
				}else{
					$(this).css("borderBottomColor","grey")
				}
			})
			return i
		}
 	</script> 
</body>


</html>