<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Enquête | question 3</title>
	<th:block th:include="fragments/headers :: head"></th:block>

</head>

<body style="font-size : 14px">
	<div class="sp-bars"></div>
	<div id="quest">
		<div th:replace="fragments/header :: navbar"></div>




		<div class="container">
			<button class="question">QUESTION 3</button>
			<div class="block">

				<p th:text="${question}" class="pl-5"></p>
				<ul style="font-style: italic;line-height: 15px;" class="pl-5 ">
					<li>
						-Cliquer sur le bouton "Ajouter" si vous souhaitez noter d'autres applications</p>
					</li>
					<li>
						-Si note inférieure ou égale à 5, bien vouloir nous faire parvenir
						vos commentaires.
					</li>
				</ul>

			</div>
		</div>


		<div class="container">



			<div class="card">
				<div class="card-content">
					<div class="right-align">
						<a href="#modalApp" class="waves-effect waves-light btn  red accent-4 modal-trigger ">Ajouter +
						</a>

					</div>

					<div class="row p-2" id="app">

					</div>
					<div class="row p-2" id="newApp">

					</div>
				</div>

			</div>

			<div th:insert="fragments/autreApp :: app"></div>


			<div class="right-align">
				<button class="waves-effect waves-light btn tooltipped " id="valider" data-position="bottom"
					data-tooltip="Question 4 ">
					CONTINUER
				</button>
			</div>


		</div>
		<!-- footer -->
		<div th:insert="fragments/footer :: footers"></div>

		<script>
			$(document).ready(function () {
				
				$('.tooltipped').tooltip();
				$('.modal').modal({
					opacity: 0.2
				})

				$('#plus').click(function () {

					setItem()
				})
				$('#addApp').click(function () {
					addApp()
				})

				init()
				initUserApp()
				$('#valider').click(function () {
					empty = vald()
					emptyNote = validationNote()
					fullTest = empty + emptyNote
					if (checkUser() == false) {
						if (fullTest == 0) {
							send()
						} else {
							//tsy mandh
						}

					} else {
						if (fullTest == 0) {
							window.location.href = "[[@{/question/4}]]"
						} else {
							//tsy mandh
						}

					}

				})
			})

			function vald() {
				j = 0
				note = getNote()
				comment = getComment()

				for (i = 0; i < note.length; i++) {
					var fjfj = document.querySelectorAll('.commentaire')[i]
					var com = document.querySelectorAll(".commentaira")[i]
					if ((parseInt(note[i]) <= 5) && (comment[i] == "")) {

						fjfj.style.borderColor = "red"
						com.style.color = "red"
						j++
					} else {
						fjfj.style.borderColor = "grey"
						com.style.color = "grey"
					}

				}
				return j
			}


			function checkUser() {
				var check = false
				$.ajax({
					method: "get",
					url: "[[@{/checkRef3}]]",
					async: false,
					success: function (response) {
						if (response == "ok") check = true
					}
				})
				return check
			}

			function setItem() {

				var res = "<div  class='row'>" +

					"<div class='input-field col s6'>" +
					"<input   type='text'   class='nomApp'>" +
					"<label for='nomApp'>Nom de l'application</label>" +
					"</div>" +

					"<div class='col s6'></div>" +

					"</div>"
				$('#app-container').append(res)

			}

			function addApp() {
				var app = getApp()

				$.ajax({
					method: "post",
					url: "[[@{/addApp}]]",
					data: {
						apps: app,
					},
					async: false,
					success: function (response) {

					}
				})

				//initNewApp()
				var userApp = countUserApp()
				var addApp = app.length
				limit = userApp - addApp

				getLast(addApp)
				$('.nomApp').val("")
				$('.afterAdd').click()


			}

			 function getLast(limit) {
				
				$.ajax({
					method: "post",
					url: "[[@{/getApps}]]",

					async: false,
					success: function (response) { 
						
						/* response.sort((a, b) => {
							keyA = a.idApp
							keyB = b.idApp
							if (keyA < keyB) return 1;
							if (keyA > keyB) return -1;
							return 0;
						}) */
						trier(response,response.length)
						var res = ""
						for(i=0;i<limit;i++){
							res += "<div class='col-md-3' >" +
								"<label >" + response[i].nomApp + "</label>" +
								"<select class=' form-control note select'>" +
								"<option value='aucun'>Aucun</option>" +
								"<option value='1'>1</option>" +
								"<option value='2'>2</option>" +
								"<option value='3'>3</option>" +
								"<option value='4'>4</option>" +
								"<option value='5'>5</option>" +
								"<option value='6'>6</option>" +
								"<option value='7'>7</option>" +
								"<option value='8'>8</option>" +
								"<option value='9'>9</option>" +
								"<option value='10'>10</option>" +
								"<option value='non concerne'>Non concerné</option>" +
								"</select>" +
								"<div class='input-field'>" +
								"<label class='commentaira' for='comment'>Commentaires</label>" +
								"<textarea id='comment' type='text' class='materialize-textarea commentaire' ></textarea> " +
								"</div>" +
								"<input type='hidden' value='" + response[i].idApp + "' class='app' /> " +

								"</div>"
						
						}
						$('#newApp').append(res)
					}
				})

				
			} 

			function trier(tab,taille){
				for(j=0;j<taille-1;j++){
					for(i=0;i<taille-1;i++){
						if(tab[i]>tab[i+1]){
							temp = tab[i]
							tab[i] = tab[i+1]
							tab[i+1] = temp
						}
					}
				}
			}
			
				function initUserApp() {
					$.ajax({
						method: "post",
						url: "[[@{/getApps}]]",
						contentType: "application/json",
						dataType: "json",
						success: function (response) {

							var res = ""
							response.forEach(function (element) {
								res += "<div class='col-md-3' >" +
									"<label >" + element.nomApp + "</label>" +
									"<select class=' form-control note select'>" +
									"<option value='aucun'>Aucun</option>" +
									"<option value='1'>1</option>" +
									"<option value='2'>2</option>" +
									"<option value='3'>3</option>" +
									"<option value='4'>4</option>" +
									"<option value='5'>5</option>" +
									"<option value='6'>6</option>" +
									"<option value='7'>7</option>" +
									"<option value='8'>8</option>" +
									"<option value='9'>9</option>" +
									"<option value='10'>10</option>" +
									"<option value='non concerne'>Non concerné</option>" +
									"</select>" +
									"<div class='input-field'>" +
									"<label class='commentaira' for='comment'>Commentaires</label>" +
									"<textarea id='comment' type='text' class='materialize-textarea commentaire' ></textarea> " +
									"</div>" +
									"<input type='hidden' value='" + element.idApp + "' class='app' /> " +

									"</div>"
							});
							$('#newApp').append(res)

						}
					})

				}

				function countUserApp() {
					var count = 0
					$.ajax({
						method: "post",
						url: "[[@{/countApp}]]",
						dataType: "json",
						async: false,
						success: function (response) {
							count = response
						}
					})
					return count
				}
				/* function initNewApp(){
					$.ajax({
						method: "post",
						url: "[[@{/getApps}]]",
						contentType: "application/json",
						dataType: "json",
						success: function (response) {
							
							var res = ""
							response.forEach(function (element) {
								res += "<div class='col-md-3' >" +
									"<label >" + element.nomApp + "</label>" +
									"<select class=' form-control note select'>"+
										"<option value='aucun'>Aucun</option>"+
										"<option value='1'>1</option>"+
										"<option value='2'>2</option>"+
										"<option value='3'>3</option>"+
										"<option value='4'>4</option>"+
										"<option value='5'>5</option>"+
										"<option value='6'>6</option>"+
										"<option value='7'>7</option>"+
										"<option value='8'>8</option>"+
										"<option value='9'>9</option>"+
										"<option value='10'>10</option>"+
										"<option value='non concerne'>Non concerné</option>"+
									"</select>" +
									"<div class='input-field'>" +
									"<label for='comment'>Commentaires</label>" +
									"<textarea id='comment' type='text' class='materialize-textarea commentaire' ></textarea> " +
									"</div>" +
									"<input type='hidden' value='" + element.idApp + "' class='app' /> " +
	
									"</div>"
							});
							$('#newApp').append(res)
							
						}
					})
				} */
				function getApp() {
					var app = []
					$('.nomApp').each(function () {
						app.push($(this).val())
					})
					return app
				}

				function init() {
					$.ajax({
						method: "post",
						url: "[[@{/getApplication}]]",
						contentType: "application/json",
						dataType: "json",
						success: function (response) {

							var res = ""
							response.forEach(function (element) {
								res += "<div class='col-md-3' >" +
									"<label >" + element.nomApp + "</label>" +
									"<select class=' form-control note select'>" +

									"</select>" +
									"<div class='input-field'>" +
									"<label class='commentaira' for='comment'>Commentaires</label>" +
									"<textarea id='comment' type='text' class='materialize-textarea commentaire' ></textarea> " +
									"</div>" +
									"<input type='hidden' value='" + element.idApp + "' class='app' /> " +

									"</div>"
							});
							$('#app').html(res)
							initSelect()
						}
					})
				}
				function getApplication() {
					app = []
					$.ajax({
						method: "post",
						url: "[[@{/getApp}]]",

						async: false,
						success: function (response) {
							app = response
						}
					})
					return app
				}
				function countApp() {
					app = getApplication()

					return app.length
				}

				function initSelect() {
					var res = "<option value='aucun'>Aucun</option>"
					for (i = 1; i < 11; i++) {
						res += "<option  value='" + i + "'>" + i + "</option>"
					}
					res += "<option value='non concerne'>Non concerné</option>"
					$('.select').html(res)
					//$('select').formSelect();
				}

				function send() {
					var comment = getComment()
					var note = getNote()
					var appli = getAppli()


					$.ajax({
						method: "post",
						url: "[[@{/question3}]]",
						data: {
							comments: comment,
							notes: note,
							apps: appli
						},
						success: function (response) {

							window.location.href = "[[@{/question/4}]]"
						}
					})
				}

				function getComment() {
					comment = []
					$(".commentaire").each(function () {
						result = $(this).val()
						comment.push(result)
					})
					return comment
				}
				function getNote() {
					note = []
					$(".note").each(function () {
						result = $(this).val()
						note.push(result)
					})
					return note
				}
				function getAppli() {
					appli = []
					$(".app").each(function () {
						result = $(this).val()
						appli.push(result)
					})
					return appli
				}
				function validationNote() {
					var i = 0
					$('.note').each(function () {
						if ($(this).val() == "aucun") {
							i++
							$(this).css("borderColor", "red")
						} else {
							$(this).css("borderColor", "grey")
						}
					})
					return i
				}
				function ValidationCom() {
					var i = 0
					$('.commentaire').each(function () {
						if ($(this).val() == "") {
							i++
							$(this).css("borderColor", "red")
						} else {
							$(this).css("borderBottomColor", "grey")
						}
					})
					return i
				} 
		</script>
	</div>
</body>



</html>