<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Enquête | question 6</title>
	<th:block th:include="fragments/headers :: head"></th:block>

</head>

<body style="font-size : 14px">
	<div class="sp-bars"></div>
	<div id="quest">
		<div th:replace="fragments/header :: navbar"></div>

		<div class="container">
			<button class="question">QUESTION 6</button>
			<div class="block">

				<p th:text="${question}" class="pl-5">
				</p>
				<p class="pl-5">Si vous n'avez pas de remarques particulières, veuillez mettre RAS</p>
			</div>
		</div>



		<div class="container">
			<div class="card">
				<div class="row">
					<div class="col s4"></div>
					<div class="col s4">
						<div>
							<label class="labele"  for="">INF</label>
							<textarea type="text" class="materialize-textarea commentaire"></textarea>
						</div>

						<div>
							<label class="labele"   for="">ORG</label>
							<textarea type="text" class=" materialize-textarea commentaire"></textarea>
						</div>

						<div>
							<label  class="labele" for="">LOG</label>
							<textarea type="text" class=" materialize-textarea commentaire"></textarea>
						</div>
					</div>
					<div class="col s4"></div>
				</div>

			</div>

			<div class="right-align">
				<button class="waves-effect waves-light btn tooltipped " id="valider" data-position="bottom"
					data-tooltip="Terminer">
					Valider
				</button>
			</div>

		</div>
		<!-- footer -->
		<div th:insert="fragments/footer :: footers"></div>
		<script>
			$(document).ready(function () {
				$('.tooltipped').tooltip();
				$('#valider').click(function () {
					empty = ValidationCom()

					if (checkUser() == false) {
						if (empty == 0) {
							send()
						} else {

							//tsy mandh
						}

					} else {
						if (empty == 0) {
							window.location.href = "[[@{/termine}]]"
						} else {
							//tsy mandh
						}

					}


				})
			})

			function checkUser() {
				var check = false
				$.ajax({
					method: "get",
					url: "[[@{/checkRef6}]]",
					async: false,
					success: function (response) {
						if (response == "ok") check = true
					}
				})
				return check
			}
			function send() {
				var comment = getComment()


				$.ajax({
					method: "post",
					url: "[[@{/question6}]]",
					data: {
						comments: comment
					},
					success: function (response) {
						window.location.href = "[[@{/termine}]]"
					}
				})
			}

			function getComment() {
				comment = []
				$(".commentaire").each(function () {
					result = $(this).val()
					comment.push(result)
				})
				return comment
			}
			function ValidationCom() {
				var j = 0
				var val = getComment()
				console.lo
				/*  $('.commentaire').each(function () {
					
					if ($(this).val() == "") {
					
						i++
						$(this).css("borderColor", "red")
					} else {
					
						$(this).css("borderBottomColor", "grey")
					} 
				}) */
				for(i=0;i<3;i++){
					var com = document.querySelectorAll(".commentaire")[i]
					var lab = document.querySelectorAll(".labele")[i]

					if(val[i]==""){
						j++
						com.style.borderColor ="red"
						lab.style.color  ="red"
					}else{
						com.style.borderColor  ="grey"
						lab.style.color ="grey"
					}
				}
				
				return j
			}
		</script>
	</div>
</body>



</html>