<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Enquête | question 5</title>
	<th:block th:include="fragments/headers :: head"></th:block>

</head>

<body style="font-size : 14px">
	<div class="sp-bars"></div>
	<div id="quest">
		<div th:replace="fragments/header :: navbar"></div>




		<div class="container">
			<button class="question">QUESTION 5</button>
			<div class="block">

				<p th:text="${question}" class="pl-5">
				</p>
				<p class="pl-5">Si vous n'avez pas de remarques particulières, veuillez mettre RAS</p>
			</div>
		</div>


		<div class="container">
			<div class="card">
				<div class="row">
					<div class="col s4"></div>
					<div class="col s4">
						<label class="commentaire" for="">INF</label>
						<textarea class="materialize-textarea dir"></textarea>


						<label class="commentaire" for="">ORG</label>
						<textarea class="materialize-textarea dir"></textarea>



						<label class="commentaire" for="">LOG</label>
						<textarea class="materialize-textarea dir"></textarea>
					</div>
					<div class="col s4"></div>

				</div>


			</div>


			<div class="right-align">
				<button class="waves-effect waves-light btn tooltipped" id="valider" data-position="bottom"
					data-tooltip="Question 6">
					CONTINUER
				</button>
			</div>

		</div>

		<!-- footer -->
		<div th:insert="fragments/footer :: footers"></div>
		<script>
			$(document).ready(function () {
				$('.tooltipped').tooltip();

				$('#valider').click(function () {
					empty = ValidationCom()
					if (checkUser() == false) {
						if (empty == 0) {
							send()
						} else {
							//tsy mandh
						}

					} else {
						if (empty == 0) {
							window.location.href = "[[@{/question/6}]]"
						} else {
							//tsy mandh
						}

					}


				})
			})

			function checkUser() {
				var check = false
				$.ajax({
					method: "get",
					url: "[[@{/checkRef5}]]",
					async: false,
					success: function (response) {
						if (response == "ok") check = true
					}
				})
				return check
			}

			function send() {
				comment = getDir()

				$.ajax({
					method: "post",
					url: "[[@{/question5}]]",
					data: {
						comments: comment
					},
					success: function (response) {

						window.location.href = "[[@{/question/6}]]"
					}
				})
			}

			function getDir() {
				dir = []
				$(".dir").each(function () {
					dir.push($(this).val())
				});
				return dir
			}
			function ValidationCom() {
				var j = 0
				/* $('.dir').each(function () {
					var dir = document.querySelectorAll(".commentaire")[i]
					if ($(this).val() == "") {
						dir.style.color = "red"
						i++
						$(this).css("borderColor", "red")
					} else {
						$(this).css("borderBottomColor", "grey")
					}
				}) */
				var val = getDir()
				for (i = 0; i < 3; i++) {
					var dira = document.querySelectorAll(".dir")[i]
					var comment = document.querySelectorAll(".commentaire")[i]

					if (val[i] == "") {

						j++
						dira.style.borderColor = "red"
						comment.style.color = "red"
					} else {

						dira.style.borderColor = "grey"
						comment.style.color = "grey"
					}
				}
				return j
			}

		</script>
	</div>
</body>



</html>