
<head>
<meta charset="utf-8"/>
</head>


<!-- response 1  -->
    <div th:fragment="response1"  >
            <h6>D'une manière générale, sur une échelle de 1 à 10 à combien évaluez-vous 
                la qualité de la prestations fournies par chaque Départements
            </h6>
    		
            <div id="inf">
                
                    <table id="tableId"   class="table table-responsive table-sm table-bordered ">
                            <thead class="bg-dark text-white">
                                <tr class="text-center">
                                    <th >#</th>
                                    <th >Service informatique</th>
                                    <th >Service Projet et Organisation</th>
                                    <th >Service logistique</th>  
                                </tr>
                            </thead>
                            
                            <tbody  >   
                                <tr>
                                    <th>Note</th>
                                    <td class="qt1"></td>
                                    <td class="qt2"></td>
                                    <td class="qt3"></td>
                                </tr>

                                <tr>
                                    <th>Commentaire si note en dessous de 5</th>
                                    <td class="cm1"></td>
                                    <td class="cm2"></td>
                                    <td class="cm3"></td>
                                </tr>
                            </tbody>
    
                        </table>
    
            </div> <!--inf-->
            
    
    </div> 
<!-- response 1  -->

<!-- response 2  -->
	<div th:fragment="response2"  >
		<p>Sur une échelle de 1 à 10 à combien évalueé-vous votre satisfaction sur les services listés ci-après ?</p>

        <p>NB:Ne notez que les services que vous avez demandés</p>
        <h6>Service informatique - INF</h6> 

        <div id="inf">
            
                <table id="tableInf"   class="table table-responsive table-sm table-bordered ">
                        <thead class="bg-dark text-white">
                            <tr class="text-center">
                                <th id="thTop">#</th>
                                <th id="thTop">Qualité de la prestation</th>
                                <th id="thTop">Délai de traitement</th>
                                <th id="thTop">Commentaires</th>  
                              
                            </tr>
                        </thead>
                        
                        <tbody   id="resultInf">   

                        </tbody>

                    </table>

        </div> <!--inf-->
        <h6>Service organisation - ORG</h6>
        <div id="org">

                <table id="tableOrg"   class="table table-responsive table-sm table-bordered ">
                        <thead class="bg-dark text-white">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Qualité de la prestation</th>
                                <th>Délai de traitement</th>
                                <th>Commentaires</th>  
                              
                            </tr>
                        </thead>
                        
                        <tbody   id="resultOrg">   

                        </tbody>

                </table>

        </div> <!--org-->

        <h6>Service logistique - LOG</h6>
        <div id="log">

                <table id="tableLog"  class="table table-responsive table-sm table-bordered ">
                        <thead class="bg-dark text-white">
                            <tr class="text-center">
                                <th >#</th>
                                <th>Qualité de la prestation</th>
                                <th>Délai de traitement</th>
                                <th>Commentaires</th>  
                              
                            </tr>
                        </thead>
                        
                        <tbody   id="resultLog">   

                        </tbody>

                </table>

        </div> <!--log-->



    </div> 

    
<!-- response 2 -->

<!-- response 3  -->
	<div th:fragment="response3"  >
            <h6>Selon vous, quels seraients les axes d'amélioration du Département ?</h6>
           
            <table id="tableId3"  class="table table-responsive table-sm table-bordered ">
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <th >#</th>
                        <th >#</th>
                        <th >Note</th>
                        <th >Commentaires</th>  
                      
                    </tr>
                </thead>
                
                <tbody   id="res3">   

                </tbody>

            </table>

    </div> 
<!-- response 3  -->	

<!-- response 4  -->
	<div th:fragment="response4"  >
            <h6>Selon vous, quels seraients les axes d'amélioration du Département ?</h6>
            
            <div class="card">
                <div class="card-body">
                    <table id="q4">
                        <tr>
                            <td>
                                <ul id="axe">
                        
                                </ul>
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
    </div> 
	
<!-- response 4  -->

<!-- response 5  -->
	<div th:fragment="response5"  >
            <h6>Depuis la dernière enquête, trouvez-vous que la qualité de notre prestation s'est améliorée ?</h6>
            
            <div class="card">
                <div class="card-body">
                    <table id="q5">
                        <tr>
                            <td>
                                <ul id="compte-rendu">
                        
                                </ul>
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
    </div> 
<!-- response 5  -->

<!-- response 6  -->
	<div th:fragment="response6"  >
            <h6>Selon vous, quels seraients les axes d'amélioration du Département ?</h6>
            
            <div class="card">
                <div class="card-body">
                    <table id="q6">
                        <tr>
                            <td>
                                <ul id="autre">
                        
                                </ul>
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
    </div> 
<!-- response 6  -->
    